.headerContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  background: linear-gradient(to left, #015a5d, #000000);
  color: white;
  font-size: 0.5rem;
  text-align: center;
}
.headerDiv {
  padding: 2rem 1rem;
  margin: 2rem 1rem;
  text-align: left;
  border-left: 1px solid rgb(255, 255, 255);
}

//-=-=-=-=-=-=-=-Medai Querey.
@media screen and (max-width: 800px) {
  .headerContainer {
    grid-template-columns: 100%;
    gap: 0%;
  }
}
