.container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: auto;
  margin: auto;
  text-align: center;
  justify-content: center;
  background: white;
  @media screen and (max-width:768px){
    grid-template-columns: 100%;
  }
}

.detailHeader {
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  text-align: center;
  background-color: white;
  margin: 4rem auto;
  padding: 2rem;
  @media screen and (max-width:768px){
    grid-template-columns: 100%;
  }

}
.discription {
  align-items: left;
  text-align: left;
  color: rgba(19, 17, 17, 0.574);
  margin: 1rem;
  font-size: 1rem;
  p {
    border-bottom: 0.1rem solid rgb(179, 178, 178);
    margin: 1rem auto;

  }

}
.imgContainer {
  padding: 0.5rem;
}



