.contactContainer {
  height: auto;
  padding: 2rem auto;
  margin: auto;
}

/*++++++++++++   Form Styling  ++++++++++++++*/

.form {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: auto;
  max-width: 800px;
  width: 100%;
  border-radius: 0.2rem;
  gap: 1.4rem;
  input,
  textarea {
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 0.2rem;
    border: 1px solid white;
    padding: 1rem;
    resize: none;
  }
  input:focus {
    background-color: rgba(2, 73, 93, 0.645);
    color: rgb(255, 255, 255);
  }
  textarea:focus {
    background-color: rgba(2, 73, 93, 0.645);
    color: rgb(255, 255, 255);
  }
}

.formBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: max-content;
  width: 100%;
  margin: auto;
  background-color: var(--color-primary);
  display: inline-block;
  color: white;
  padding: 0.5rem 3rem;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  transition: var(--transition);
  &:hover {
    background-color: rgb(0, 65, 2);
  }
}
//-=-=-=-=-=-=-=- Media Query
@media screen and (max-width: 1080px) {
  .contactContainer {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .contactContainer > div {
    margin-bottom: 1rem;
  }
}
