.container {
  height: auto;
  max-width: auto;
  width: 100%;
  background: linear-gradient(to bottom, #015a5d, #000000);
  color: rgb(255, 255, 255);
}
.container img {
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}
@media screen and (max-width: 470px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    height: auto;
  }
  .container img {
    margin: 1rem;
  }
}
