.footer {
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 4rem;
  color: rgb(255, 255, 255);
  border-top: 1px solid rgb(255, 255, 255);
  span {
    color: rgba(246, 246, 246, 0.593);
  }
}
